/* .dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar-container {
  width: 15%;  
  display: flex; 
}

.content-container {
  flex-grow: 1;
  overflow-x: hidden; 
} */



.dashboardmain{
  display: flex;
  flex-direction: row;
}