.dashboard-container {
  display: flex;
  height: 100vh; /* Full screen height */
}

.sidebar-container {
  width: 15%;  /* Sidebar takes 20% of the screen */
  display: flex; /* Ensures it grows properly */
}

.content-container {
  flex-grow: 1;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}
